[2020-01-21 18:13] NyakudyaA opened #1 "QGIS Server version"
# Problem

I am trying to set up this demo service and all work well with the default images. I, however, run into errors when I try to change the `qgis-server` images.

I tried the following and it doesn't startup

[code]

The main problem is that this QGIS server runs on port 8080 inside docker and the URL for qgis server should not be hardcoded with the path ie `&map=/djangoassets/geodata` but

[2020-01-21 18:18] NyakudyaA opened #2 "Enable multiple backends which are OGC compliant"
# Problem

Since QGIS is ogc compliant and this is meant to create maps which are rich in cartography or bridging the gap between QGIS Server and publishing maps it would be nice to be able to add other sources from OWS services

ie GeoServer,Mapserver

[2020-01-29 08:37] wlorenzetti commented on #1
Hi @NyakudyaA this is a old G3W-SUITE docker project. Very soon (I thiink in this week) I'll push new G3W-SUITE docker project.

[2020-01-29 08:40] wlorenzetti commented on #2
G3W-SUITE born with this goal, at the starting project we think about it as a multiple backend OGC system, but for our business plans we choose to stay only QGIS-server.

[2020-01-29 08:40] #2 closed, assigned to nobody

[2020-01-29 08:42] NyakudyaA commented on #1
Thanks a lot, Will await then because I had intended to do a PR with some changes which I had made to get it running

[2020-02-04 10:18] wlorenzetti commented on #1
Hi @NyakudyaA i just pushed a new default branch `dev`. This dockerization is better than `master` branch. If you want try, you are welcome!

[2020-02-04 10:19] NyakudyaA commented on #1
Awesome, will try it out now

[2020-02-12 08:22] NyakudyaA commented on #1
This works better

[2020-02-12 08:22] #1 closed, assigned to nobody

[2020-05-07 07:45] elpaso opened #3 "Check tmp cleanup in qgis server container"
We have no cron running and temporary file are never deleted

[2020-05-07 07:49] wlorenzetti opened #4 "QT Plugin 'offscreen'"
Into run docker-compose up, on 'collectstatic' commands:
 This application failed to start because it could not find or load the Qt platform plugin ""offscreen""

[2020-05-07 14:31] #4 closed, assigned to elpaso

[2020-08-11 12:59] nstoykov opened #6 "Interruption of installation G3W docker on Ubuntu 18.04"
Hello,
I follow the instructions below:

[Install_G3W_docker_instruction.txt](https://github.com/g3w-suite/g3w-suite-docker/files/5057082/Install_G3W_docker_instruction.txt)

I come to the following result:

[Install_G3W_docker_result.txt](https://github.com/g3w-suite/g3w-suite-docker/files/5057084/Install_G3W_docker_result.txt)

would you advise me where I am wrong???

[2020-08-11 13:23] wlorenzetti commented on #6
Hi @nstoykov ,
I just update branch dev and branch v3.0.x with new apt qgis key.

Err:15 http://security.ubuntu.com/ubuntu bionic-updates/main amd64 git amd64 1:2.17.1-1ubuntu0.4
  404  Not Found [IP: 91.189.88.142 80]
Fetched 1677 kB in 0s (5350 kB/s)
E: Failed to fetch http://security.ubuntu.com/ubuntu/pool/main/g/git/git-man_2.17.1-1ubuntu0.4_all.deb  404  Not Found [IP: 91.189.88.142 80]
E: Fa

[2020-08-17 12:08] nstoykov commented on #6
thank you for your cooperation

[2020-08-17 12:08] #6 closed, assigned to nobody

[2020-08-17 12:15] dmiolo opened #7 "Error connection while show map"
I have successfully installed G3W-Suite docker version on Ubuntu 18.04 and the application is fully functional in all parts except for the map view.
Viewing the map I get the connection error while testing the WMS capabilities indicates Server Error (500).

[2020-08-17 13:11] wlorenzetti commented on #7
What's saying your _g3w-suite-docker_g3w-suite_1_ container?
`docker logs -f  g3w-suite-docker_g3w-suite_1`

[2020-08-17 13:16] dmiolo commented on #7
I'll post the last 1000 lines of the docker log:

`[2020-08-03 05:11:11 +0000] [53] [DEBUG] GET /it/,
[2020-08-03 05:11:27 +0000] [67] [DEBUG] GET /it/login/,
[2020-08-03 05:19:49 +0000] [67] [DEBUG] GET /,
[2020-08-03 05:19:50 +0000] [67] [DEBUG] GET /,
[2020-08-03 05:20:06 +0000] [62] [DEBUG] GET /it/,
[2020-08-03 05:20:21 +0000] [62] [DEBUG] GET /it/login/,
[2020-08-03 05:33:54 +0000] [59] [DEB

[2020-08-17 13:27] wlorenzetti commented on #7
Ok main error is: `'The project settings is malformed`. Can You tell me your workflow?
I.e.

1. Create a QGIS project with this data...
2. Upload project on G3W-SUITE ...

For try to find a possible bug.. thanks.

[2020-08-17 13:35] dmiolo commented on #7
Of course.
I created the QGIS project, uploaded the Shapefiles and uploaded the QGIS project on G3W-SUITE.
I also have the same error with the DEMO project called "Building management test 888" that I downloaded from the site (link on Google Drive).

[2020-08-17 14:18] wlorenzetti commented on #7
mmm very strange.. try with this project and data please:
[proj.zip](https://github.com/g3w-suite/g3w-suite-docker/files/5084796/proj.zip)

[2020-08-17 15:46] dmiolo commented on #7
I tried with the files sent but the problem is still there...

In the log file i found again:
`2020-08-17T15:45:57.072223627Z Exception: The project settings is malformed: Opening and ending tag mismatch: link line 46 and head, line 55, column 10 ----- b'\n\n\n\n<!DOCTYPE html>\n\n [missed]`

[2020-08-18 05:58] wlorenzetti commented on #7
It sounds no good.. Did you use branch 'v3.0.0'? What your QGIS desktop version?

We can try to rebuild every docker images and restart again docker-compose.

Into README is not write to use Dockerfile.g3wsuite-deps.ltr.dockerfile, but it's better (I'll fix very soon)

[code]

[2020-08-18 07:24] dmiolo commented on #7
Yes, I used the v3.0.0 branch.
I use QGIS desktop version 3.14 (but I also tried with version 3.10).
I tried to rebuild the docker images with the given commands but I keep getting the error.
But during the docker build I encountered these errors:

![error1](https://user-images.githubusercontent.com/43961850/90483111-85f20080-e134-11ea-8919-33ea43331134.JPG)

![error2](https://user-images.githubus

[2020-08-18 07:57] dmiolo commented on #7
Solved!
I hadn't updated the recently updated files from GitHub.
Thanks so much!

[2020-08-18 07:57] #7 closed, assigned to nobody

[2020-08-20 07:41] dmiolo opened #8 "Error loading external layer [kml]"
When I try to load an external layer (kml) I get an error in loading.
From the docker logs I see no errors ...
![err_caric](https://user-images.githubusercontent.com/43961850/90731028-6213f380-e2c9-11ea-8e25-d82b5b0044fa.JPG)

[2020-08-20 08:37] dmiolo opened #9 "Save with only 1 click"
The procedure for saving the modified layers involves saving a first time in the attribute insertion form and finally saving the changes made inside the layer again to send the changes to the DB (Postgresql in my case).
![save1](https://user-images.githubusercontent.com/43961850/90747417-28df8180-e2d1-11ea-8375-cd7b18fb1181.JPG)
Is it possible to provide for the data entered to be sent directly to

[2020-08-20 10:43] wlorenzetti commented on #8
Could you upload here your kml?

[2020-08-20 10:47] dmiolo commented on #8
Sure:
[878_ALBERA LIGURE_BT.zip](https://github.com/g3w-suite/g3w-suite-docker/files/5102427/878_ALBERA.LIGURE_BT.zip)
Thanks!

[2020-08-21 10:39] volterra79 commented on #8
Solved

[2020-08-21 12:45] wlorenzetti commented on #8
@dmiolo fixed on v.3.0.x branch https://github.com/g3w-suite/g3w-admin/commit/b01c97d1edcaa35e5dbb5e8563e1e6395a59607d.
Recreate g3wsuite/g3w-suite-deps:latest e rerun docker-compose.

[2020-08-21 12:45] #8 closed, assigned to volterra79

[2020-08-26 13:23] nikolaieniware opened #10 "Error in 3f198f0d4c79_g3wsuitedocker_postgis_1 Container"
Hello I just starting with your project, g3w-suite-docker  buid and install posgis, form branch v3.0.x OK , But when i start the containers with command  "docker-compose up"  ( to see the logs) without -d  . And  in console i saw this message from postgres.

Operating System is Ubuntu 18.04.5 LTS (bionic)

The message is:
 /docker-entrypoint.sh: line 52: kill: (12) - No such process
3f198f0d4c79_g

[2020-08-26 13:26] wlorenzetti commented on #9
@dmiolo for editing workflow this at the moment is not possible.

[2020-08-31 03:24] nislamnreca opened #11 "dependencies image build error"
When I issue the command:
docker build -f Dockerfile.g3wsuite-deps.ltr.dockerfile -t g3wsuite/g3w-suite-deps:latest --no-cache .
it starts and after some time I get the error like:
.....
Get:374 http://archive.ubuntu.com/ubuntu bionic/universe amd64 wait-for-it all 0.0~git20170723-1 [4340 B]
Fetched 131 MB in 7min 15s (302 kB/s)
E: Failed to fetch http://security.ubuntu.com/ubuntu/pool/main/p/pyth

[2020-08-31 06:54] wlorenzetti commented on #11
I just tried it and it works  form me. How old is it your _ubuntu:bionic_ docker image?

Try to update it `docker pull ubuntu:bionic`

[2020-09-07 07:01] nislamnreca opened #12 "Setting Layer Opacity and Layer Reordiring"
I expected option to change layer opacity and layer reordering by right button click on the layer name in layer the tree, and did not find it.
Is there a way to set layer opacity and re-order layer in the map?

[2020-09-08 22:43] nstoykov opened #13 "Еrror on nginix: 502 Bad Gateway!!! what am I missing?"
Hello,
I try to install G3W docker again and whatever attempts I make it always leads to an error I always get an error on nginix: 502 Bad Gateway
I use Ubuntu Server 18.04.5 (hostname: g3w-suite.demo) with SSH installed on it, git version 2.17.1, Docker version 19.03.12

Here are the commands I use to install g3w-suite:

cd home
git clone https://github.com/g3w-suite/g3w-suite-docker.git --branch

[2020-09-09 05:18] nislamnreca commented on #13
Hello.
I think you pubic host name 'g3w-suite.demo' is not reachable. You can try with IP address of your public host.
Good luck!!
Thanks

[2020-09-09 06:24] wlorenzetti commented on #13
Hi the problem is not the host name, but _G3WSUITE_POSTGRES_HOST,_ if you set this env var to a localhost you are telling to docker compose to use a PostgreSql instance inside g3w_suite container, but if you watch to docker-compose.yml you can see that there is a postgresql/postgis image use for it, so if you don't want use a your owner PostgreSql/Postgis instace leave _G3WSUITE_POSTGRES_HOST_ to

[2020-09-09 06:26] wlorenzetti commented on #10
Hi @nikolaieniware I don't see nay error on log before, have you any problems ?

[2020-09-09 06:29] wlorenzetti commented on #12
Tha main rule into G3W-SUITE is QGIS-desktop and its projects are the masters :). So if you want to reorder or change layers opacity, you have to do it on your QGIS desktop save the project and upload again it on G3W-SUITE.

[2020-09-09 08:08] nikolaieniware commented on #10
Hello thank you for your reply .  Only thing when i changed is the password for postigs , After installing the Portrainer for monitoring docker containers , i saw the postgis container is restarting every time when the trying to reach the postgis on this container. I don't know am i need to change more things in .env file configuration? Thanks.

[2020-09-12 12:42] nislamnreca opened #14 "Issue with print layout"
Hello,
I have published a qgis projects with g3w-suite-docker. The project has a print layout. After publishing to the g3w  suite, I see the map with all the layers as well as layer editing tools, But I do not see print options for the print layout. I am not sure what steps I have missed.
Thanks.

[2020-09-13 03:20] nislamnreca commented on #14
Hello,
This was my mistake. I created report in QGIS instead of Print Layout. I got print options when I added print layout.
Thanks.

[2020-09-13 03:20] #14 closed, assigned to nobody

[2020-09-13 05:32] #12 closed, assigned to nobody

[2020-10-01 11:55] lucamanga opened #15 "Please explain how to "refresh" the code from github"
Hello,

I am using the _dev version of g3wsuite in the docker.
When I restart the docker container, it doesn't update the code from github.
How can I "refresh" it? Can you write it in the documentation?

Thank you!

[2020-10-01 12:16] wlorenzetti commented on #15
Hi @lucamanga, first of all I suggest you to use branch v3.0.x of this repository , this is the last stable version.
In particular I suggest you to re-build your images because the images on docker hub are not update to latest code/branch.
https://github.com/g3w-suite/g3w-suite-docker#g3w-suite
In particular build first g3w-suite-deps image and next g3w-suite-dev image.

A the momente the g3w-suit

[2020-10-01 13:55] lucamanga commented on #15
Thank you

[2020-10-01 13:55] #15 closed, assigned to nobody

[2020-10-08 10:31] #13 closed, assigned to nobody

[2020-10-13 13:06] lucamanga opened #16 "file style.css missing"
The README.md states:
[code]
unfortunately the **style.css** file is missing from repo.

[2020-10-26 15:42] lucamanga commented on #16
bump. Anyone listening here?

[2020-10-27 07:33] wlorenzetti commented on #16
Hi @lucamanga, sorry but in this period we are very busy for some projects we are working on!. I don't follow this part of dockerization, I hope it is not a refuse. Take patience.

[2020-11-18 13:40] NyakudyaA commented on #10
@nikolaieniware The DB starting this way is by design. there is nothing wrong with those logs at all. Standard logs there.

[2020-12-10 12:44] lucamanga opened #19 "Instructions on how to update from 3.0 to 3.1"
Hello,

can you write in the documentation on how to update the docker from 3.0 to 3.1?
The 3.0 database will be automatically updated?

Thank you in advance
Luca

[2020-12-11 13:53] wlorenzetti commented on #19
Hi @lucamanga thanks for suggestion.
Yes just need to change docker image tag from v3.0.x to v3.1.x into docker-compose.yml file or just update your g3w-admin code and re-build your image. Thanks to Django features database will be updated.

[2020-12-24 13:57] #11 closed, assigned to wlorenzetti

[2020-12-24 13:58] #10 closed, assigned to nobody

[2020-12-24 13:58] #9 closed, assigned to nobody

[2020-12-28 13:38] lucamanga commented on #19
Sorry for late response. Ok, it's now working, thank you :-)

[2020-12-28 13:38] #19 closed, assigned to wlorenzetti

[2021-01-05 09:36] NikosTsompanides opened #22 "g3w-suite/postgis error(?)"
Hello! I tried to build and run g3w-suite with docker but g3w-suite/postgis seems to struggle to build.
From the logs i can see that postgres is constantly trying to re-connect but the following log appears: `/docker-entrypoint.sh: line 52: kill: (12) - No such process`
![Screenshot from 2021-01-05 11-18-21](https://user-images.githubusercontent.com/26706846/103629255-c23dc600-4f48-11eb-8e53-1ed5e

[2021-01-05 09:44] wlorenzetti commented on #22
Hi @NikosTsompanides from above screenshot I see that you are using 'dev' branch, I suggest you to use 'v3.1.x' branch realease. 'dev' branch is under development and can be broke.

[2021-01-05 10:22] NikosTsompanides commented on #22
Hi @wlorenzetti and thanks for your immediate response!
Same error appears when i use v3.1.x banch :/
Steps i folllow:

1. git clone https://github.com/g3w-suite/g3w-suite-docker.git **_--branch v3.1.x_**
2. cd to folder
3. docker  build -f Dockerfile.g3wsuite.dockerfile -t g3wsuite/g3w-suite:**_v3.1.x_** --no-cache .
4. docker build -f Dockerfile.g3wsuite-deps.ltr.dockerfile -t g3wsuite/g3w-suite

[2021-01-05 15:52] wlorenzetti commented on #22
Please can you upload your log?

[2021-01-07 07:57] NikosTsompanides commented on #22
Good morning! Here are the logs.
![Screenshot from 2021-01-07 09-54-17](https://user-images.githubusercontent.com/26706846/103866391-5f763700-50ce-11eb-8e01-679f068dd059.png)
![Screenshot from 2021-01-07 09-54-35](https://user-images.githubusercontent.com/26706846/103866394-60a76400-50ce-11eb-9753-8d042cd40541.png)

As you can see after the `/docker-entrypoint.sh: line 52: kill: (13) - No such pro

[2021-01-07 12:54] wlorenzetti commented on #22
Hi @NikosTsompanides, it's very strange...
I suggest you to user docker hub postgis image [g3wsuite/postgis](https://hub.docker.com/r/g3wsuite/postgis): delete your current g3wsuite/postgis image and restart your docker-compose, It'll pull image from docker hub.

[2021-01-07 14:04] NyakudyaA opened #25 "Standalone QGIS Server container"
It seems the `g3wsuite/g3w-suite:dev` image installs the native QGIS Server within the image. This is against the principle of docker where containers should be self-contained.

What was the motivation for this because we can no longer scale the QGIS Server in production environments? Is there a way to use a standalone QGIS Server container with the stack

[2021-01-08 15:58] wlorenzetti commented on #25
Hi @NyakudyaA , this because from version 3.x.x a full python qgis/qgis-server API integration is done thanks to great work of @elpaso. So G3W-SUITE doesn't wrap QGIS-server as it did until version 3.x.x but it works itself as QGIS-server :).

[2021-01-08 17:00] NyakudyaA commented on #25
So if I want to scale QGIS Server I just scale the g3wsuite container?

[2021-01-08 17:02] wlorenzetti commented on #25
Yes

[2021-01-08 17:14] elpaso commented on #25
@NyakudyaA you can also raise the number of gunicorn instances of the suite inside a container but that would mean restarting the container itself which you probably don't want to happen.

[2021-01-08 17:58] NyakudyaA commented on #25
Thanks @elpaso @wlorenzetti

[2021-01-08 17:58] #25 closed, assigned to wlorenzetti

[2021-02-16 17:02] fload opened #26 "Qgs Upload Error"
I keep Getting this error when trying to upload a project, I am using qgis 3.16.3 and am not sure what I am missing.

[Project error on layers()]-- [Layer error on layerType(_6583ab07_d566_4c92_b52a_0e2626c93958)]-- 'NoneType' object has no attribute 'name'

(All layers are "postgis" layers on the cloud)

[2021-02-16 17:09] wlorenzetti commented on #26
Hi @fload what version or branch of G3W-SUITE are you using? if you are using v3.1.x I suggesto you to use QGIS 3.10.14 last LTS version. A question your project have authcfg kye into datasource or did you save your user and password PostgreSQL into the project file?
At the momente only dev branch support authcfg for db connection, but dev is not stable and it'll become v3.2.x very soon

[2021-02-16 17:25] fload commented on #26
g3wsuite/g3w-suite:dev,  Just working on getting some of our data into g3w, I will try the LTS qgis. I am not sure what an authcfg key is, I just added our postgis server as a data source. I did however try to save the included qgis "world" layer and load it as both qgs and qgz and got same error.

[2021-02-16 17:29] fload commented on #26
Name
DroneImages
Source
dbname='postgres' host=34.67.160.46 port=5432 sslmode=allow authcfg=0kypw54 key='id_0' srid=4326 type=Point checkPrimaryKeyUnicity='1' table="public"."DroneImages" (geom) sql=
Storage
PostgreSQL database with PostGIS extension
Comment

Encoding

Geometry
Point (Point)
CRS
EPSG:4326 - WGS 84 - Geographic
Extent
-79.6231128333332947,36.9339873055555969 : -79.5690539444444056,

[2021-02-16 17:36] wlorenzetti commented on #26
into your datasource: `dbname='postgres' host=34.67.160.46 port=5432 sslmode=allow authcfg=0kypw54 key='id_0' srid=4326 type=Point checkPrimaryKeyUnicity='1' table="public"."DroneImages" (geom) sql=`
missing `user` and `password`.
Try to save they in clears mode into the project.

@elpaso with branch `dev` authcfg it'll works?

[2021-02-16 17:39] wlorenzetti commented on #22
Hi @NikosTsompanides it works now? I can close the isseu?

[2021-02-16 17:47] fload commented on #26
Thank you so much for your support one more question, Where would one add the user and password fields? (I had simply dragged a single db layer onto a new project and saved).

[2021-02-16 18:13] fload commented on #26
I believe I have found it after right clicking the db and changing the credentials there now it shows username and pass, however same error..

[Project error on layers()]-- [Layer error on layerType(_8548770a_215b_4a8d_96d0_1ec2b55e492e)]-- 'NoneType' object has no attribute 'name'

I am also seeing these in docker logs
Layer _8548770a_215b_4a8d_96d0_1ec2b55e492e is not found into layerTreeRoot
po

[2021-02-16 18:30] fload commented on #26
Got it working I believe it was because the maps were made in qgis 3.16 instead of 3.10? (and also authentication)

[2021-02-16 18:30] #26 closed, assigned to wlorenzetti

[2021-02-18 17:25] fload opened #27 "Docker Question"
Sorry if this is the wrong place to ask but I'm new to learning docker and just wondering how or if its possible to use a cloud storage bucket as the persistent data storage. It looks to me like I would just need to set it up as an env variable but I am not exactly sure I understand docker well enough yet.... Any direction would be most appreciated.

[2021-02-18 17:44] fload commented on #27
after some considerations I believe the intended workflow is to edit the /config/settings_docker.py,
DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': os.getenv('G3WSUITE_POSTGRES_DBNAME'),
        'USER': os.getenv('G3WSUITE_POSTGRES_USER_LOCAL') if os.getenv('G3WSUITE_POSTGRES_USER_LOCAL') else "%s@%s" % (
        os.getenv('G3WSUITE_POSTG

[2021-02-25 06:51] wlorenzetti commented on #27
Hi @fload sorry but I can help you on this. Is possible to use a cloud bucket storage for persistent data into docker, but I think it's not possible with only a simple env variable.
Searching on Docker docs, I found that you can use docker plugins to use a cloud storage as volume:
https://docs.docker.com/engine/extend/legacy_plugins/

I hope this can help you.

[2021-05-27 14:01] diegovarelajp opened #30 "Syntax error: /scripts/setup.sh:"
When I trying to install through the docker gis3w by executing the command "docker build -f Dockerfile.g3wsuite.dockerfile -t g3wsuite/g3w-suite:dev --no-cache ." I am receiving the following error message as shown in the images
![issue1](https://user-images.githubusercontent.com/52501453/119839801-d0ca5100-beda-11eb-84e7-a592ca6eb443.png)

![issue2](https://user-images.githubusercontent.com/52501

[2021-05-27 15:27] diegovarelajp commented on #30
Is it because my operating system is windows?

[2021-05-27 15:30] wlorenzetti commented on #30
In effect I just try the build statement but on my Ubuntu 18.04 it works well!
Yes this is only for linux systems, I didn't try it on windows, but it's strange because it running inside a docker linux image!
I suggest you to try it ona VM linux if you can.

[2021-05-27 15:35] diegovarelajp commented on #30
Ok, I will try on vm linux. Thanks @wlorenzetti

[2021-05-31 08:46] #30 closed, assigned to wlorenzetti

[2021-07-13 19:12] zanollim opened #32 "problem with named volume in docker-compose.yml"
Version 3.2.x

if I use the internal docker volume, as suggested in the .env file:
[code]

I cannot build the suite because the following error:
[code]

I suspect that you cannot specify subfolders in named volumes, like shared-volume/node_modules:something_else
but only: shared-volume:something_else
Can you confirm?

(complimenti per il lavoro eccezionale!)

[2021-07-14 12:33] wlorenzetti commented on #32
Hi @zanollim,
the env var WEBGIS_DOCKER_SHARED_VOLUME set a local folder where to save permanent data i.e. database data cluster, qgis projects etcetera...
So i.e. try to set this env to a value as "/home/<your_home_name>/data-g3w-suite", I suggest you to not use path woth "/tmp" folder because every time you switch off the machine "/tmp" folder is erased.

[2021-07-14 13:30] zanollim commented on #32
Thanks @wlorenzetti,

absolutely clear, I'll point out only that in docker-compose.yml you are declaring:

[code]

but effectively you cannot use it as 'shared-volume' for the g3w-suite-docker

[2021-07-14 13:56] #32 closed, assigned to wlorenzetti

[2021-07-14 13:56] wlorenzetti commented on #32
@zanollim grazie per i complimenti :)

[2021-08-02 09:55] ghost opened #33 "G3WSUITE docker version installation support"
![error_2](https://user-images.githubusercontent.com/88318354/127842166-c397065e-8439-4758-bb91-77a421cc408a.png)

Hi,
While installing the g3w-suite image, I get the following error: ADD requirements_rl.txt.
How can I solve?

Thank you in advance for your reply

[2021-08-03 09:50] #33 closed, assigned to nobody

[2021-08-19 09:45] ghost opened #34 "Openssh-error"
![err_6](https://user-images.githubusercontent.com/88318354/130047155-b7c1d2f7-0762-4d00-a61a-44a4472d2582.PNG)
Sto installando la versione dockerizzata, ma quando eseguo il comando "docker build --build-arg G3W_SUITE_BRANCH=v.3.2.x -f Dockerfile.g3wsuite.dockerfile -t g3wsuite/g3w-suite:v3.2.x --no-cache .", ho il seguente errore.
Come posso risolverlo?

[2021-08-19 09:50] wlorenzetti commented on #34
Salve Francesco,
sembra un problema legato all'immagine base di Ubuntu, cerco di verificare al più presto.

[2021-08-19 09:57] ghost commented on #34
Grazie

[2021-08-20 07:03] ghost opened #35 "Informazioni configurazione file env"
Buongiorno,

avrei un paio di domande per quanto riguarda la configurazione del file .env della versione dockerizzata.
Per quanto riguarda il database, posso lasciare le credenziali già inserite nel file o devo impostare le credenziali di un database che devo comprare?
Per far partire il programma in localhost, devo impostare il WEBGIS_PUBLIC_HOSTNAME con http://localhost?

[2021-08-20 15:12] ghost commented on #34
Qualche novità?

[2021-08-21 08:08] wlorenzetti commented on #34
@Francesco2102 un problema legato all'immagine docker base non aggiornata sul repository docker.
Per Installare G3W-SUITE docker può fare in due maniere o creare le due immagini principali g3wsuite/g3w-suite-deps:v3.2.x e g3wsuite/g3w-suite:v3.2.x oppure solo la seconda mentre la prima la scarichi dal repository presente su docker-hub.

Ti consiglio di cancellare tutte le immagini docker presente

[2021-08-21 09:36] ghost commented on #34
![img_7](https://user-images.githubusercontent.com/88318354/130317630-5ed5e3d5-d569-433b-8641-490251ffafbe.PNG)
Grazie, riesco a scaricare i pacchetti ma non riesco a farlo partire in localhost. Questa è la schermata che ho, concluso il comando:  docker-compose up -d.
Come potrei risolvere il problema?
La ringrazio in anticipo per la risposta.

[2021-08-23 07:13] wlorenzetti commented on #34
@Francesco2102 se tutto è partito correttamente la suite risponde sulla porta 8080, quindi +
http://localhost:8080

[2021-08-23 07:25] ghost commented on #34
Ho scritto sul browser http://localhost:8080 ma non carica la pagina.
Non vorrei fosse un problema di configurazione del file .env.

[2021-08-23 07:29] wlorenzetti commented on #34
Poi copiare il file `.env` qui?

[2021-08-23 07:38] ghost commented on #34
![err_local](https://user-images.githubusercontent.com/88318354/130412508-08446a97-8264-4cfa-bee8-42984be0d507.PNG)
Questo è l'errore che ho quando eseguo http://localhost:8080.

[env.txt](https://github.com/g3w-suite/g3w-suite-docker/files/7029972/env.txt)
Per le credenziali del database ho inserito quelle di un database su digitalocean ma senza estensione postgis.

[2021-08-23 08:26] #35 closed, assigned to nobody

[2021-08-23 08:40] ghost commented on #34
Provo a lasciare queste credenziali:
G3WSUITE_POSTGRES_USER_LOCAL=g3wsuite
G3WSUITE_POSTGRES_PASS=89#kL8y3D
G3WSUITE_POSTGRES_DBNAME=g3wsuite
G3WSUITE_POSTGRES_HOST=postgis
G3WSUITE_POSTGRES_PORT=5432

[2021-08-24 13:29] wlorenzetti commented on #34
cosa dice il log?

`docker logs -f g3wsuitedocker32x_g3w-suite_1`

[2021-08-24 14:05] ghost commented on #34
[log.txt](https://github.com/g3w-suite/g3w-suite-docker/files/7039711/log.txt)
Continua a caricare in loop queste righe.

[2021-08-24 14:10] wlorenzetti commented on #34
E' veramente strano i worker di guinicorn falliscono e non te lo fa partire.

Fai `docker-compose down` cancella la cartella dati (mi raccomando non lasciare _/tmp/shared-volume-g3w-suite_ ma metti un path che non viene cancellato con il riavvio della macchina, fuori da tmp in sostanza ) e rifai `docker-compose up -d`

[2021-08-24 15:05] ghost commented on #34
Non parte.

[2021-08-24 15:27] wlorenzetti commented on #34
Ho appena provato un deploy pulito da zero ma funziona tutto correttamente, non so cosa dire.

[2021-08-24 15:33] ghost commented on #34
Potrebbe passarmi i comandi che ha eseguito e la configurazione del file .env.
Non vorrei aver sbagliato qualcosa nella configurazione.

[2021-08-25 10:00] wlorenzetti commented on #34
Di seguito il mio file .env:
[code]

ho creato la mia immagine base, inmaniera tale da avere il codice aggiornato all'ultimo commit su github:
[code]
alla fine ho lanciato il
[code]

[2021-08-25 10:06] ghost commented on #34
Le credenziali del database, posso lasciare queste:
G3WSUITE_POSTGRES_USER_LOCAL=g3wsuite
G3WSUITE_POSTGRES_PASS=89#kL8y3D
G3WSUITE_POSTGRES_DBNAME=g3wsuite
G3WSUITE_POSTGRES_HOST=postgis
G3WSUITE_POSTGRES_PORT=5432

[2021-08-25 10:09] wlorenzetti commented on #34
Si tanto se cancelli la cartella dati riparte da capo..

[2021-08-25 10:39] ghost commented on #34
Ma oltre a questi passaggi, devo installare altre applicazioni?

[2021-08-25 12:40] wlorenzetti commented on #34
No altro

[2022-01-21 17:15] spaciandd commented on #34
Hi @volterra79 for **openssl**, just do following steps, it will be resolved,
[code]
Save the file and enjoy...

[2022-01-21 17:19] wlorenzetti commented on #34
Thanks @spaciandd I'll put it into docker file.

[2022-01-22 17:27] spaciandd commented on #30
@diegovarelajp @wlorenzetti
Just go to **scripts** folder and open each file in VS Code and at right bottom change **CLRF to LF**.
![Screenshot_1](https://user-images.githubusercontent.com/33995618/150649131-e8f28433-73a8-4bdf-a02e-1dfe3dd7976c.png)

[2022-01-23 16:10] tudorbarascu opened #37 "WMS GetCapabilities advertise on http although everything was setup as https"
Hi, first of all thanks for this very nice project and the foss4g workshop, it was great.

Now that I had time to test things in deployment I did all the steps for https and everything works out allright except the GetCapabilities response which is advertising the links with **http** instead of **https**.

Is there an extra step to follow?

Thank you,

All the best

[2022-02-20 03:46] indeOWS opened #38 "Optional `ORS_API_ENDPOINT` setting ?"
I have had an issue to get openrouteservice application running on docker container as shown in https://github.com/GIScience/openrouteservice/issues/1129.

I wonder if I must set the variable `ORS_API_ENDPOINT` or if I can just leave it without any value in case I do not have an openrouteservice?

[2022-02-21 06:40] wlorenzetti commented on #38
A question:
What branch did you try to run? v.3.3.x or dev?

[2022-02-21 21:33] indeOWS commented on #38
Hi wlorenzetti. I am running v3.3.x

[2022-02-22 20:10] geo-data-co opened #39 "Error setting QGIS Auth DB master password from `settings.QGIS_AUTH_PASSWORD` (fresh v3.3 install)"
I followed the README instructions and got the containers running, but when trying to open the app at localhost:8080 I ger a Server Error (500).
This is the container logs for the nginx container:
![Screenshot from 2022-02-22 15-03-14](https://user-images.githubusercontent.com/97211600/155210563-0fd36143-5594-4535-a40b-8325d817baec.png)

[2022-02-23 07:45] wlorenzetti commented on #39
Are you on macos?

[2022-02-23 14:25] geo-data-co commented on #39
I am on Ubuntu 20.04

[2022-03-08 22:39] GetBack2Basics opened #40 "Change default search function"
I see that the search goes to `https://nominatim.openstreetmap.org/ui/search.html?q`

I've searched all the files for this but can't locate it. How do we change this to search within the layers available in the project or a custom search system like Solr?

Ex - https://github.com/qwc-services/qwc-fulltext-search-service

[2022-03-09 07:49] wlorenzetti commented on #40
Sorry but at the moment is not possible to change it, because it is hard coded on g3w-client code https://github.com/g3w-suite/g3wsuite-g3w-client. It could be a new good enhancement for future versions.

[2022-03-09 07:49] #40 closed, assigned to nobody

[2022-03-09 09:22] GetBack2Basics commented on #40
What kind of sponsored development effort would be required to add this?

[2022-03-16 06:58] wlorenzetti commented on #39
@geo-data-co could you share your g3w-suite container log?
`docker-compose logs -f g3w-suite`

[2022-03-16 07:03] wlorenzetti commented on #38
@indeOWS inside the dockerization repository you can find a `docker-compose` file where g3w-suite use openrouteservice:

https://github.com/g3w-suite/g3w-suite-docker/blob/961f54c3dd72710fa62f7d8793b2b3138c52841f/docker-compose-consumer.yml#L1-L146

Instead to use a external openrouteservice try to you this docker-compose file.

[2022-03-16 07:03] #27 closed, assigned to nobody

[2022-03-16 07:04] #34 closed, assigned to nobody

[2022-03-16 07:05] #16 closed, assigned to wlorenzetti

[2022-03-16 07:08] wlorenzetti commented on #37
Hi @tudorbarascu and sorry for replay too late :(.
Did you try with last v3.3.x branch version?

[2022-03-16 07:08] #22 closed, assigned to nobody

[2022-03-16 07:13] wlorenzetti commented on #40
Please @GetBack2Basics send us a official request to info@gis3w.it, so we can evaluate it and reply you with a formal quotation.
Thanks.

[2022-03-16 08:36] GetBack2Basics commented on #40
Thanks Walter, I sent one a few days ago to this address but didn't get a
response...is there a different email to use?

On Wed, 16 Mar 2022, 18:13 Walter Lorenzetti, ***@***.***>
wrote:

[2022-03-16 08:52] wlorenzetti commented on #40
Ok it is correct, we'll reply you as soon as possible.

[2022-03-16 16:08] geo-data-co commented on #39
The container log is huge, here are the last lines:

[code]

[2022-03-18 06:27] wlorenzetti commented on #39
It seems fail on set for QGIS auth password: `QGIS_AUTH_PASSWORD`.

Did you set `G3WSUITE_QGIS_AUTH_PASSWORD` in your `settings_docker.py`?

What is your Ubuntu environment? Is it a VM?

[2022-03-18 16:37] geo-data-co commented on #39
I didn't modify the `settings_docker.py` and this is its current code regarding `QGIS_AUTH_PASSWORD`

![image](https://user-images.githubusercontent.com/97211600/159041360-8f7d9054-8b7c-4443-96ec-e0b6ec842400.png)

The `.env` file contents copied from README regarding the shared-volume directory are

![image](https://user-images.githubusercontent.com/97211600/159043122-2652d541-8618-4812-9c62-3140

[2022-03-18 16:43] wlorenzetti commented on #39
It's very strange behavior, try to change `WEBGIS_DOCKER_SHARED_VOLUME` and remove it from `/tmp/` try to use other directory.

Sorry I'm going to rewrite the `README.md` in a more clear way.

[2022-03-18 17:40] geo-data-co commented on #39
So I changed `WEBGIS_DOCKER_SHARED_VOLUME=/shared-volume-g3wsuite-dev`

no longer in `/tmp/`

But still having the same problem. I tried using the `.env.example` instead with the same change but I'm getting the same error.

Should I delete containers and install again?  I am willing to wait for docker version 3.4 if soon available.

[2022-03-21 08:20] tudorbarascu commented on #37
Hello and thanks for looking into this. Yes. I rebuild everything just now. Same result.

G3W-SUITE Version 3.3.x-20220318092230:

[2022-03-23 15:21] wlorenzetti commented on #37
In your docker scripts folder inside `config/nginx/django.conf` and `config/nginx/django_ssl.conf` change:
[code]
to
[code]

[2022-03-24 01:31] GetBack2Basics commented on #40
Hi Walter, I sent the emails via my work email ***@***.***
and haven't had a response yet. It would be great if you can get back to me
soon. 3 questions - a. use our own search db, b. include redlining and c.
use for multiple results with maps based on a template.

thanks,

On Wed, Mar 16, 2022 at 6:52 PM Walter Lorenzetti ***@***.***>
wrote:

[2022-03-24 08:38] wlorenzetti commented on #40
Hi @GetBack2Basics sorry for this delay but, we are behind the release of the version v3.4.x.
For create specific search on single layers, is possible do it by creation of a 'widget search' into admin section: https://g3w-suite.readthedocs.io/en/v.3.3.x/demo.html?highlight=search#search-widget-creation

For official request I hope to reply within the week.

[2022-03-25 11:32] tudorbarascu commented on #37
Thanks for the help. I solved it by recreating the whole suite. It seems that somehow something was cached and only by doing a full reset (with the same settings) really fixed this.
Thank you again!

[2022-03-25 11:32] #37 closed, assigned to nobody

[2022-04-12 18:56] zanollim opened #41 "How to upgrade from 3.3 to 3.4"
When upgrading to 3.4 version I did try to copy and reuse the same postgis DB (volume) from 3.3 version

I get 500 error and in the log of the g3w-suite container I read:

`django.db.utils.ProgrammingError: column qdjango_project.order does not exist`

so the DB in 3.4 is different (more columns? more tables?), how to upgrade the DB from old 3.3 version?

[2022-04-13 05:49] wlorenzetti commented on #41
Did you try to run v3.4 and after did you do a copy of postgis volume?

[2022-04-13 06:41] zanollim commented on #41
No, I switched off 3.3 version (docker-compose... down) then copied the 3.3 volume (containing postgis) in a new 3.4 volume folder, then I did run 3.4 version (docker-compose... up -d)

[2022-04-13 07:39] wlorenzetti commented on #41
It's strange because it should to apply the new migrations.
Did you copy entire WEBGIS_DOCKER_SHARED_VOLUME?

[2022-04-13 08:10] zanollim commented on #41
Yes the entire WEBGIS_DOCKER_SHARED_VOLUME, containing the css customizations, the QGIS projects, the jpg images and the '11' postgis folder

[2022-04-13 08:13] wlorenzetti commented on #41
Ok try this:
enter into g3w-suite main container:
[code]

print:
[code]

[2022-04-13 17:04] zanollim commented on #41
Here the output of the command:

`Running migrations:
  Applying qdjango.0092_layeracl...Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/django/db/backends/utils.py", line 82, in _execute
    return self.cursor.execute(sql)
psycopg2.errors.DuplicateTable: relation "qdjango_layeracl" already exists
`

[2022-04-14 05:10] wlorenzetti commented on #41
I found the problem. Two identical db migrations in the version 3.3 and 3.4 but in different execution times. I'm going to make a fix for it in v. 3.4

[2022-04-14 13:33] wlorenzetti commented on #41
@zanollim it should be fixed with https://github.com/g3w-suite/g3w-admin/commit/1a4b2b7f810b13c81ba7a78a065a83afa6ec2942. Please try again.

[2022-04-14 15:41] zanollim commented on #41
Thanks @wlorenzetti
I confirm, upgrade correctly done!
Now I can test your new improved features :)

[2022-04-14 15:41] #41 closed, assigned to wlorenzetti

[2022-04-27 11:38] DanyHubGit opened #42 "Details Consumer image"
Good morning,

is it possible to add some details (even at the documentation level) on the "_**consumer**_" image ?
What does batch processing refer to?

Thank you

[2022-04-30 01:39] GetBack2Basics commented on #40
Hi Walter,

Thanks for your email.

I haven't had a response to my emails sent to ***@***.*** sent on March
9th and March 15th from my work email ***@***.***

I would really appreciate a quote on the required enhancements.

On Thu, Mar 24, 2022 at 6:38 PM Walter Lorenzetti ***@***.***>
wrote:

[2022-06-15 06:26] Raruto opened #44 "Fix for FATAL: role "root" does not exist"
**Source:** https://stackoverflow.com/questions/60193781/postgres-with-docker-compose-gives-fatal-role-root-does-not-exist-error

---

This warning does not really generate a fatal error, but it is still a pretty nasty notification because it clogs the service logs:

[code]

_Have a nice day,
Raruto_

[2022-06-15 09:20] Raruto opened #45 "Possible fix for FATAL: the database system is starting up"
I point it out here although it could be probably more a [kartoza/postgis](https://hub.docker.com/r/kartoza/postgis/) problem than a [g3wsuite/postgis](https://hub.docker.com/r/g3wsuite/postgis/) issue.

From what I understand from this topic: [dockerized-postgresql-psql-fatal-the-database-system-is-starting-up](https://stackoverflow.com/questions/42398199/dockerized-postgresql-psql-fatal-the-data

[2022-06-21 15:09] becio opened #47 "Unable to connect to SqlServer"
it looks like the QODBC Driver is missing from current docker image:

[code]

[2022-06-21 15:44] wlorenzetti commented on #47
For SqlServer you should make build for container base image whit this dockerfile: https://github.com/g3w-suite/g3w-suite-docker/blob/dev/Dockerfile.g3wsuite-deps.ltr.mssql.dockerfile

And after rebuild main g3w-suite container image.

[2022-06-22 09:29] becio commented on #47
I tried

[code]

but it breaks at the line

[code]

some packages have unmet dependencies, `python3-qgis` and `qgis-server`

[2022-07-05 07:12] Raruto opened #50 "Provide some alternative hints about the `tmp` folder"
Currently within the `env.example` file is reported the following statement:

https://github.com/g3w-suite/g3w-suite-docker/blob/0850eded5bd5225a88266fb1b1b5fa14dda0b352/.env.example#L4-L6

in addition to that it would also be better to indicate some examples of folders recommended or quite common for you (then everyone is free to use what they want, but at least we have a common starting point).

[2022-07-20 13:14] Raruto opened #52 "Escape special characthers within `.env.example`"
Currently inside the .env file there is a special character `#`, which is quite common for passwords, but as you can see this assignment is misinterpreted by the docker environment (`89#kL8y3D` becomes `89`):

https://github.com/g3w-suite/g3w-suite-docker/blob/0850eded5bd5225a88266fb1b1b5fa14dda0b352/.env.example#L10

![photo](https://user-images.githubusercontent.com/9614886/179988027-e50e87cb-7b

[2022-07-20 13:58] wlorenzetti commented on #52
Do you try with single quote?
`G3WSUITE_POSTGRES_PASS='89#kL8y3D'`

[2022-07-21 13:31] Raruto opened #54 "How to backup/restore postgres database?"
Currently the [readme](https://github.com/g3w-suite/g3w-suite-docker#postgresql-administration) only explains how to log in as a postgres user, but how is it possible to dump the data? (ie. how to export a `dump.sql` file on host machine?)

This is what I found on stackoverflow:

**backup psql:**
[code]

**restore psql:**
[code]

but I think it still needs a few minor tweaks to work: [backup-resto

[2022-07-21 13:40] Raruto commented on #54
As per https://github.com/g3w-suite/g3w-suite-docker/issues/54#issue-1313268059:

[code]

adding **`-h localhost`**:

[code]

[2022-08-12 08:18] Raruto opened #55 "Add some instructions for installing g3w-admin plugins within README.md"
At present there is only a small hint embedded within the code:

https://github.com/g3w-suite/g3w-suite-docker/blob/09750b98296adacc130245475050d502753d874b/scripts/setup.sh#L20-L21

[2022-08-17 07:24] Raruto commented on #54
In this case the shared volume of `postgis` service has the following mapping:

https://github.com/g3w-suite/g3w-suite-docker/blob/09750b98296adacc130245475050d502753d874b/docker-compose-dev.yml#L19

As per docker documentation on how [backup restore or migrate data volumes](https://docs.docker.com/storage/volumes/#backup-restore-or-migrate-data-volumes), you can find that folder under in this loc

[2022-08-17 14:20] #52 closed, assigned to nobody

[2022-08-17 14:21] #50 closed, assigned to nobody

[2022-08-19 07:54] Raruto opened #61 "Allow `config/g3w-suite/overrides/static` usage while developing"
As per v3.4 it is only possible to override templates (ref: https://github.com/g3w-suite/g3w-suite-docker/pull/58):

https://github.com/g3w-suite/g3w-suite-docker/blob/c37f17d518ee7dda8654bb1b85e2c02a241681ed/docker-compose-dev.yml#L69

during development it would also be handy to allow overriding of static files, as it already happens for the `docker-compose.yml` file:

https://github.com/g3w-sui

[2022-08-19 12:41] Raruto commented on #61
Maybe related to:

https://github.com/g3w-suite/g3w-admin/commit/fb45e5de3f9e9824bce3d1aeb15bd61b6e7ba2e4

Usage info:

[code]
[code]

[code]

[2022-09-07 07:13] Raruto opened #63 "Check or add some info about the `DEV` environment variable"
As per v3.4, this is what is currently reported in the `/scripts/docker-entrypoint.sh` file:

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/scripts/docker-entrypoint.sh#L15-L18

Check if the variable is still in use or else give us some information on where it is actually set.

**NB** the following published compose files do not list any `DEV` variable

[2022-09-07 07:29] Raruto opened #64 "Add some info about Gunicorn"
As per v3.4, this is what is currently reported in the `/scripts/docker-entrypoint.sh` file::

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/scripts/docker-entrypoint.sh#L37-L44

But currently the [README.md](https://github.com/g3w-suite/g3w-suite-docker/blob/dev/README.md) file reports this stack without any other mention of gunicorn:

![stack](https:

[2022-09-07 08:54] Raruto opened #65 "Remove `docker-compose-portainer.yml` file"
Probably the file was created for the following reason (i.e. using a previous docker compose version, < 3):

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/docker-compose-portainer.yml#L1-L4

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/docker-compose.yml#L1

Anyway, since version [2.1.1](https://www.portai

[2022-09-07 13:31] Raruto commented on #55
Alternatively, we can also use a custom `requirements.txt` file, eg:

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/requirements_rl.txt#L1-L4

Here is some information on how to `git clone` repositories through python:

- https://stackoverflow.com/questions/16584552/how-to-state-in-requirements-txt-a-direct-github-source

[2022-09-07 14:04] Raruto opened #66 "Share common `docker-compose.yml` configuration between various environments (production, development, maintenance)"
**More info:**

- https://docs.docker.com/compose/extends/#multiple-compose-files

---

For example, here's how we could simplify the `docker-compose-dev.yaml` file:

[code]

[code]

[code]

**NB** Similarly for the following files there is no particular reason why they are separated:

- [docker-entrypoint-dev.sh](https://github.com/g3w-suite/g3w-suite-docker/blob/dev/scripts/docker-entrypoint-dev

[2022-09-08 07:40] Raruto opened #67 "Remove `/config/_nginx/django_conf.ssl`"
Except for special needs, the entire configuration would gain readability and maintainability by configuring a single `server` that could handles both HTTP and HTTPS requests (for the latter rules it should be enough to keep them commented to keep them disabled).

---

As per v3.4, this is what states the readme file:

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f14

[2022-09-08 12:26] Raruto opened #68 "Make use of environment variables within nginx config"
As per v3.4, some of these values must be updated manually within the following files:

- `/config/nginx/django.conf`
- `/config/nginx/django_conf.ssl`

For example:

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/config/nginx/django.conf#L67-L69

it might just be read from the `.env` file:

https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eeb

[2022-09-08 12:32] Raruto commented on #64
For example, the following might be a useful local development tip (in order to speed up container startup times):

[code]

[2022-09-08 14:43] Raruto commented on #65
if so, remember to update the project README.md and official documentation about it (ie. removing the portainer section):

- https://g3w-suite.readthedocs.io/en/latest/docker.html#portainer
- https://github.com/g3w-suite/g3w-suite-docker/blob/e435dcc3eebdace8eec161d34f1426ce20f143bb/README.md?plain=1#L199-L208

[2022-09-13 14:38] Raruto opened #69 "Enforce `LF` line endings"
For example, add some [.gitattributes](https://github.com/g3w-suite/g3w-client/blob/dev/.gitattributes) rules in order to prevent **CRLF** conversion for bash scripts.

Related to: https://github.com/g3w-suite/g3w-client/issues/181

[2022-09-15 13:50] Raruto opened #70 "Add link and description to github repository"
It is advisable to add a brief description that does not force others to open the project README to easily understand what this repository is about, for example:

[code]

![photo](https://user-images.githubusercontent.com/9614886/190419131-d0f102e8-c36a-4448-983b-634663953f5e.png)

[2022-09-15 13:54] wlorenzetti commented on #70
Thanks @Raruto , done it.

[2022-09-15 13:58] #70 closed, assigned to wlorenzetti

[2022-09-16 09:17] Raruto commented on #69
[How to see what type of line endings are already in git repository?](https://stackoverflow.com/questions/35801024/how-to-see-what-type-of-line-endings-are-already-in-git-repository)

You can use this command:

[code]

It will output one line per file with the following information:

[code]

In that example, i/lf means that the file uses lf in the index, and w/crlf means it uses crlf in the workin

[2022-09-19 07:49] Raruto commented on #3
@elpaso It's been a while, is this still a issue?

[2022-09-19 09:29] Raruto opened #71 "Manage sensitive data with Docker secrets"
As per **v3.4**, the following passwords are injected by the host as environment variables:

- https://github.com/g3w-suite/g3w-suite-docker/blob/4cc32e475c65557ee5d466466b7d475acc1cfed7/docker-compose.yml#L10
- https://github.com/g3w-suite/g3w-suite-docker/blob/4cc32e475c65557ee5d466466b7d475acc1cfed7/docker-compose.yml#L35

---

**Ref:** https://blog.diogomonica.com//2017/03/27/why-you-shouldnt-

[2022-09-19 12:13] #65 closed, assigned to nobody

[2022-09-19 14:10] Raruto opened #73 "Check `pg_service.conf` file or improve documentation about it"
As per **v3.4** it seems we are looking for a default service set but on a local ip: `192.168.1.137` (maybe an oversight? a lazy developer day?).

https://github.com/g3w-suite/g3w-suite-docker/blob/c150c74a477b51ff5235e99f20001481e0bc6256/secrets/pg_service.conf#L2-L7

https://github.com/g3w-suite/g3w-suite-docker/blob/c150c74a477b51ff5235e99f20001481e0bc6256/README.md?plain=1#L88-L91

https://git

[2022-09-21 15:40] Raruto opened #74 "Add a script to automate demo data installation"
At the moment the documentation on how to create a new project is excessively verbose (I don't think there is even a precise section that explains how to do it). At least to make it easier for new developers, it would be useful to have some sort of automated system to import and create everything needed at least for the [demo project](https://g3w-suite.readthedocs.io/en/v.3.4.x/demo.html#download-

[2022-09-22 08:54] Raruto opened #75 "Add some info related to `manage.py` (docker exec)"
For admin users it might be quite useful to know how to correctly run the [`manage.py`](https://docs.djangoproject.com/en/2.2/ref/django-admin/) command (ie. adding the `-e DISPLAY=:99` and `-w /code/g3w-admin` parameters):

[code]

---

Currently (v3.4) the only reference to the `DISPLAY` environment variable is quite hidden within the [editing](https://github.com/g3w-suite/g3w-suite-docker#editi

[2022-09-22 09:58] Raruto commented on #75
BTW, the `DISPLAY` value could also be passed as an environment variable through `docker-compose.yml`

For example, within the [`docker-compose-dev.yml`](https://github.com/g3w-suite/g3w-suite-docker/blob/c150c74a477b51ff5235e99f20001481e0bc6256/docker-compose-dev.yml#L31-L34
):

[code]

[2022-09-27 10:09] Raruto commented on #64
---

**Source:** https://docs.gunicorn.org/en/stable/configure.html

---

Gunicorn reads configuration information from five places (in order of least to most authoritative:):

1. [Environment Variables](https://docs.gunicorn.org/en/stable/settings.html#settings)
2. [Framework Settings](https://docs.gunicorn.org/en/stable/configure.html#framework-settings) (see also: [Django integration](https://d

[2022-10-28 12:51] #69 closed, assigned to nobody

[2022-10-28 12:52] #61 closed, assigned to nobody

[2022-10-28 12:53] #63 closed, assigned to nobody

[2022-11-02 08:07] wlorenzetti opened #82 "Move to Ubuntu 22.04 and Python 3.10"
### Checklist

- [X] I've searched through the [current issues](https://github.com/g3w-suite/g3w-suite-docker/issues) to make sure this feature hasn't been requested already.

### Motivation

Upgrade to new Ubuntu 22.04 (Jammy) LTR release as base image so as to make it possible to use the future QGIS LTS version 3.28.

### Suggested solution

Refactoring libraries dependence.

### Alternatives co

[2022-11-02 09:46] #82 closed, assigned to wlorenzetti

[2022-11-14 13:22] #75 closed, assigned to nobody

[2022-11-14 13:36] #73 closed, assigned to wlorenzetti

[2022-11-14 13:54] wlorenzetti commented on #47
Hi @becio sorry for reply too late!
Were you able to connect with SqlServer?

[2022-11-17 08:45] becio commented on #47
I solved it with this dockerfile:

[code]

[2022-11-24 11:26] bard0x opened #89 "QSqlDatabase: QODBC driver not loaded"
### Checklist

- [X] I've searched through the existing [issues](https://github.com/g3w-suite/g3w-client/issues) and this bug has never been reported before

### Subject of the issue

![image](https://user-images.githubusercontent.com/24570908/203772721-00490196-1dfc-4e2c-9fb4-2a3375c59df7.png)

### Steps to reproduce

Hi,

I tried to upload a qgs project that reference an azure db. I installed OD

[2022-11-28 11:10] #89 closed, assigned to volterra79